<?xml version="1.0" encoding ="utf-8"?>
<configuration>
  <appSettings/>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true"/>
    <webServices>
      <protocols>
       <add name="HttpSoap12"/>
       <add name="HttpSoap"/>
       <add name="HttpGet"/>
       <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>